<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Register Game Sales</title>
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
</head>
<body>

    <div class="topnav">
        <a href="{% url 'registergame:index' %}">Home</a>
        <a href="{% url 'registergame:register_game' %}">Register Game</a>
        <a href="{% url 'registergame:add_platform' %}">Add New Platform</a>
        <a href="{% url 'registergame:platform_list' %}">Platform List</a>
        <a href="{% url 'registergame:add_developer' %}">Add New Developer</a>
        <a class="active" href="{% url 'registergame:register_sales' %}">Register Sales</a>
        <a href="{% url 'registergame:games_list' %}">Games List</a>
    </div>

    <h1>Register Sales</h1>
    <p>Add a regional sale for a Game</p>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="buttonSubmit glow-buttonSubmit" type="submit" value="Register Sale">
    </form>
</body>
</html>