<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Update Game</title>
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
</head>
<body>
  <div class="topnav">
      <a href="{% url 'registergame:index' %}">Home</a>
      <a class="active" href="{% url 'registergame:register_game' %}">Register Game</a>
      <a href="{% url 'registergame:add_platform' %}">Add New Platform</a>
      <a href="{% url 'registergame:platform_list' %}">Platform List</a>
      <a href="{% url 'registergame:add_developer' %}">Add New Developer</a>
      <a href="{% url 'registergame:register_sales' %}">Register Sales</a>
      <a href="{% url 'registergame:games_list' %}">Games List</a>
  </div>
    Edit Game
    <form method="post">
         {% csrf_token %}
        {{form.as_p}}
         <input type="submit" value="Save Changes">
    </form>
</body>
</html>